* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Outfit;
}

.nav-m {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #1F1F1F;
  top: 0;
}

.nav-s {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer,
.navMenuBars {
  height: 80px;
  display: flex;
  align-items: center;
}

.imgMain {
  width: 50px;
  height: 50px;
  border-radius: 10%;
}

.imgLogo {
  margin: 0 0 0 10px;
  transition: 0.5s;
}

.titleBusiness {
  text-align: center;
  color: #fff;
  margin: 0 0 0 15px;
}

.mainName {
  /*font-family: Nunito Sans,*/
  font-family: Outfit;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2.5px;
  border-bottom: 0.5px solid #fff;
}

.subName {
  font-family: Outfit;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}

.navBox {
  width: 50px;
  height: 50px;
  margin: 0 10px 0 0;
  z-index: 5;
}

.bar {
  width: 40px;
  height: 2px;
  background: #fff;
  margin: 10px auto;
  border-radius: 5px;
  transition: 0.5s;
}

.barOneMove {
  width: 20px;
  transform: translateX(16px) rotate(45deg) translateY(6px);
}

.barThiMove {
  width: 20px;
  transform: translateX(16px) rotate(-45deg) translateY(-6px);
}

.navBlock {
  width: 0px;
  height: 100vh;
  position: fixed;
  left: 0;
  background: #1F1F1F;
  top: 0;
  transition: 0.5s;
  box-shadow: 0 0 5px #000;
}

.widthNav {
  width: 220px;
}

.height {
  height: 1110vh;
}

.navLog {
  border-bottom: .1px solid #fff;
}

.flexCenter {
  width: 100%;
  height: 100vh;
  background: linear-gradient(35deg, #4fafa7, #378bdf);
  margin-top: 80px;
  clip-path: polygon(0 0, 100% 0%, 100% 59%, 0% 86%);
}

.flexCenter h1 {
  font-size: 4rem;
  margin-left: 100px;
  mix-blend-mode: color-burn;
  isolation: isolate;
  opacity: 0.8;
}